body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F6F6;
}
@font-face {
    font-family: 'Nico Moji';
    src: url('/Fonts/NicoMoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: Balsamiq Sans;
}
h2{
    font-family: Afacad;
}
p, span, button{
    font-family: Fredoka;
}